* {
  rosewater: #feacd0;
  flamingo:  #ff5f5f;
  pink:      #ff66ff;
  mauve:     #b6a0ff;
  red:       #ff5f59;
  maroon:    #cf7fa7;
  peach:     #db7b5f;
  yellow:    #d0bc00;
  green:     #44bc44;
  teal:      #00d3d0;
  sky:       #338fff;
  sapphire:  #2fafff;
  blue:      #2fafff;
  lavender:  #9099d9;

  text:      #ffffff;
  subtext1:  #f7f7f7;
  subtext0:  #989898;
  overlay2:  #bfc0c4;
  overlay1:  #2f3849;
  overlay0:  #646464;

  surface2:  #303030;
  surface1:  #1e1e1e;
  surface0:  #0f0f0f;
  base:      #000000;
  mantle:    #000000;
  crust:     #000000;
}
