* {
  rosewater: #7b435c;
  flamingo:  #d00000;
  pink:      #8f0075;
  mauve:     #721045;
  red:       #a60000;
  maroon:    #731c52;
  peach:     #884900;
  yellow:    #6f5500;
  green:     #006800;
  teal:      #005f5f;
  sky:       #008899;
  sapphire:  #0031a9;
  blue:      #003497;
  lavender:  #4a3a8a;

  text:      #000000;
  subtext1:  #193668;
  subtext0:  #595959;
  overlay2:  #595959;
  overlay1:  #dae5ec;
  overlay0:  #595959;

  surface2:  #e0e0e0;
  surface1:  #f2f2f2;
  surface0:  #f0f0f0;
  base:      #ffffff;
  mantle:    #f2f2f2;
  crust:     #000000;
}
