* {
  rosewater: #ff9580;
  flamingo:  #ff6b55;
  pink:      #f78fe7;
  mauve:     #feacd0;
  red:       #ff5f59;
  maroon:    #ff9580;
  peach:     #fec43f;
  yellow:    #d0bc00;
  green:     #44bc44;
  teal:      #00d3d0;
  sky:       #6ae4b9;
  sapphire:  #2fafff;
  blue:      #79a8ff;
  lavender:  #79a8ff;

  text:      #ffffff;
  subtext1:  #a6a6a6;
  subtext0:  #595959;
  overlay2:  #a6a6a6;
  overlay1:  #595959;
  overlay0:  #595959;

  surface2:  #595959;
  surface1:  #000000;
  surface0:  #000000;
  base:      #000000;
  mantle:    #000000;
  crust:     #000000;
}
