* {
  rosewater: #7f0000;
  flamingo:  #972500;
  pink:      #8f0075;
  mauve:     #721045;
  red:       #a60000;
  maroon:    #7f0000;
  peach:     #884900;
  yellow:    #6f5500;
  green:     #006800;
  teal:      #005e8b;
  sky:       #005f5f;
  sapphire:  #0031a9;
  blue:      #3548cf;
  lavender:  #3548cf;

  text:      #000000;
  subtext1:  #595959;
  subtext0:  #595959;
  overlay2:  #a6a6a6;
  overlay1:  #595959;
  overlay0:  #595959;

  surface2:  #a6a6a6;
  surface1:  #ffffff;
  surface0:  #ffffff;
  base:      #ffffff;
  mantle:    #ffffff;
  crust:     #ffffff;
}
